
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Validador de Contraseñas</title>
  <link rel="stylesheet" href="lab6.css">
</head>
<body>

  <header class="encabezado">
    Laboratorio 6 - A01278278
  </header>

  <main class="contenedor-formulario">
    <h2>Validar Contraseña</h2>

    <label for="password">Contraseña</label>
    <input type="password" class="password" oninput="validarContrasena()">

    <label for="confirm">Confirmar Contraseña</label>
    <input type="password" class="confirm" oninput="compararContrasenas()">

    <section class="fuerza">
      <section class="barra-fuerza"></section>
    </section>

    <p class="mensaje requisitos">Debe tener al menos 8 caracteres, una mayúscula, un número y un símbolo.</p>
    <p class="mensaje coincidencia"></p>
    <p class="exito">La contraseña cumple con el formato que se te pidio broustone</p>

    <button onclick="enviarFormulario()">Validar</button>
  </main>

  <script src="lab6.js"></script>
</body>
</html>

