<footer>
    <hr>
    <p>
        Laboratorio 12 - A01278278 
    </p>
    <a href="/">Pregunta</a> |

    <a href="/inicio">Inicio</a> |
    <a href="/formulario">mandame un mensaje</a> 

</footer>

