
<!DOCTYPE HTML>
<html>
<head>
    <%- include('css.ejs') %>
</head>
<body>
    <%- include('body.ejs') %>
</body>
    <%- include('scripts.ejs') %>
<footer>
    <%- include('footer.ejs') %>
</footer>
</html>